{% if nginx_proxy_cache %}
map $http_cookie $drupal_logged_in {
    default 0;
    ~SESS 1;
}
{% endif %}

{% if not nginx_use_as_lb %}
{# Normal configuration for single Drupal Pi. #}
server {
    listen       80 default;
    server_name  {{ drupal_url }};

    gzip on;
    gzip_static on;

{% if nginx_proxy_cache %}
    proxy_cache cache;
    proxy_cache_key $scheme$host$uri$is_args$args;
{% endif %}

    access_log {{ nginx_access_log }};

    location / {
        proxy_pass {{ nginx_proxy_pass }};
        include /etc/nginx/conf.d/proxy.conf;
    }
}
{% else %}
{# Configuration for using Drupal Pis as load balancer for Pi Dramble. #}
upstream backend {
{% for host in nginx_lb_backends %}
    server {{ host }} max_fails=3;
{% endfor %}
}

server {
   listen 80 default;

   gzip on;
   gzip_static on;

{% if nginx_proxy_cache %}
    proxy_cache cache;
    proxy_cache_key $scheme$host$uri$is_args$args;
{% endif %}

   location / {
        proxy_pass http://backend;
        include /etc/nginx/conf.d/proxy.conf;
   }
}
{% endif %}
