server {
    listen       80 default;
    server_name  {{ drupal_url }};

    gzip on;
    gzip_static on;

    access_log {{ nginx_access_log }};

    location / {
        proxy_pass http://127.0.0.1:8080/;
    }
}
